*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: rgb(65, 146, 238);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-weight: 650;
    font-size: 32px;
    color: whitesmoke;
    margin: 0px 0px 0px 60px;
    cursor: pointer;
}
.navig{
    display: flex;
    list-style-type: none;
    color: whitesmoke;
}
.navig li{
    margin: 0px 25px;
    padding: 5px;
    transition: background-color .3s linear;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer; 
}
.a {
    display: none;
}
.navig li:hover{
    background-color: rgb(81, 180, 219);
}
.back{
    background-color: rgb(81, 180, 219);
}
@media (max-width: 972px){
    h1{
        margin: 0px 0px 0px 0px;
    }
}
@media (max-width:868px){
    .navig{
        display: none;
    }
    .a{
        display: flex;
        font-size: 36px;
        color: whitesmoke;
    }
}